.my_list_back {
  position: relative;
  top: 10px;
  text-align: left;
  left: 100px;
}
.show_list_p {
  font-size: 22px;
  margin-top: 200px;
  color: rrgb(114, 114, 114);
}
.myList_list {
  font-size: 20px;
  position: relative;
  top: -140px;
}
.showMyList {
  position: relative;
  display: inline-block;
  top: -130px;
}
.list_column {
  margin-left: 20px;
  margin-bottom: 5px;
  height: 30px;
}
.place_list {
  position: relative;
  width: 190px;
  font-size: 18px;
  cursor: pointer;
}
.place_list:hover {
  text-decoration: underline;
}
.place_edit_btn {
  font-family: "SUIT-Regular";
  position: relative;
  color: gray;
  left: 270px;
  top: -20px;
}
.place_edit_btn2 {
  position: relative;
  left: 294px;
  top: -22px;
}
.place_edit_btn:hover {
  color: black;
}
.place_del_btn {
  margin-left: 8px;
}
.cancel_btn {
  position: relative;
  top: -42.5px;
  left: 325px;
}

.add_list {
  position: relative;
  top: 0px;
  font-size: 18px;
}
.myList_add {
  display: inline-block;
  position: relative;
  top: 5px;
}
.myList_listname_input {
  font-family: "NanumSquareNeo-Variable";
  border: 1px solid gray;
  width: 350px;
  height: 50px;
  font-size: 15.5px;
  margin-left: 1.5px;
}
.myList_listname_input:focus {
  outline: none;
}
.myList_addBtn {
  border: 1px solid gray;
  position: relative;
  margin-left: 6px;
  top: 3px;
  width: 60px;
  height: 50px;
  font-size: 25px;
}
.myList_addBtn:active {
  position: relative;
  top: 4px;
  left: 1px;
}
.all_list {
  position: relative;
  font-family: "NanumSquareNeo-Variable";
  left: 200px;
}
.all_list:hover {
  font-weight: bold;
}

// 오른쪽에 보여지는 지도
.right_fixed_menu {
  position: absolute;
  top: -60px;
  left: 570px;
  width: 600px;
  min-height: 650px;
}
.marked_map {
  width: 500px;
  height: 400px;
}
.map_list {
  width: 598px;
  height: 350px;
  overflow-y: auto;
  border: 1px solid rgba(177, 177, 177, 0.795);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.map_list::-webkit-scrollbar {
  display: none;
}

// 지도 보여주기
.place_map {
  width: 600px;
  height: 400px;
}

// 리스트
.place_bmlist {
  border-bottom: 1px solid rgba(177, 177, 177, 0.795);
  height: 65px;
}
.place_bmlist_title {
  position: relative;
  text-align: left;
  margin-left: 10px;
  top: 20px;
}
.place_bmlist_index {
  margin-right: 10px;
  margin-left: 5px;
}
.clickLocation {
  cursor: pointer;
}
.clickLocation:hover {
  text-decoration: underline;
}
.place_bmlist_delete {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  left: 200px;
  margin-top: 5px;
}
.place_bmlist_delete:hover {
  font-weight: bold;
}

// MarkName.jsx
.edit_name_input {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  left: 15px;
  height: 15px;
}
.edit_name_input:focus {
  outline: none;
}
.selectMark {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  left: 150px;
  width: 140px;
  height: 25px;
}
.selectMark:focus {
  outline: none;
}
.notFoundBookmark {
  position: relative;
  top: 20px;
}
