.likebackground {
  // font-family: "NanumSquareNeo-Variable";
  font-family: "SUIT-Regular";
  position: absolute;
  min-height: 1100px;
  width: 100%;
  height: 100%;
}
.liketemplate {
  position: relative;
  top: 120px;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
  height: 200px;
}
.like_wrap {
  position: relative;
  top: 10px;
  text-align: left;
  left: 100px;
}
.like_wrap > p {
  display: inline-block;
  position: inherit;
  top: 0;
  margin-bottom: 50px;
}
.like_post_map {
  min-height: 500px;
}
.nothing_to_like {
  position: relative;
  left: 30px;
  font-size: 1.2rem;
}
.go_like {
  background-color: rgba(1, 1, 116, 0.589);
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  font-size: 1rem;
  color: white;
  width: 130px;
  height: 30px;
  top: -27px;
  left: 220px;
}
.go_like:hover {
  position: relative;
  transition: transform 200ms;
  transform: scale(1.1);
}

// list
.postList_wrap {
  display: inline-block;
}
.postList_wrap:nth-child(n) {
  margin-left: 45px;
  margin-bottom: 30px;
}
.post_photo {
  border-radius: 20px;
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin-bottom: 10px;
}
.list_info_wrap {
  font-size: 18px;
  text-align: center;
  margin-top: 3px;
}
.post_Name {
  cursor: pointer;
}
.post_Name:hover {
  text-decoration: underline;
}

.notFoundUserPage {
  font-size: 23px;
  color: rgba(92, 92, 92, 0.6);
  position: relative;
  display: inline-block;
  top: 100px;
}
