// .signUpBody {
//   background-color: white;
//   font-family: "MonoplexKR-Regular";
//   position: absolute;
//   min-height: 1500px;
//   width: 100%;
//   height: 100%;
//   margin: 0;
// }
// .signUpBack {
//   width: 1080px;
//   margin: 0 auto;
//   text-align: center;
// }
// .signUptemplate {
//   position: relative;
//   display: inline-block;
//   padding: 50px;
//   top: 250px;
//   border: 3px solid #394f9a;
//   border-radius: 12px;
//   width: 600px;
//   min-height: 600px;
// }
// .signUpLogo {
//   position: absolute;
//   background-color: #394f9a;
//   border-radius: 12px 12px 0 0;
//   text-align: left;
//   width: 99.9%;
//   left: 1px;
//   top: 0px;
//   height: 68px;
//   font-size: 1.7rem;
//   font-weight: bold;
// }
// .signUpLogo > p {
//   display: inline-block;
//   position: relative;
//   left: 10px;
//   top: -10px;
//   color: white;
// }
// .signUpLogo > hr {
//   position: relative;
//   // left: -10px;
//   top: -30px;
// }
// .signUpForm {
//   position: relative;
//   top: 45px;
//   font-size: 18px;
//   right: 10px;
//   input {
//     // margin-left: 10px;
//     // width: 600px;
//     height: 35px;
//     margin-top: 5px;
//     margin-right: 20px;
//   }
// }
// .confirm {
//   font-family: "MonoplexKR-Regular";
//   display: inline-block;
//   position: absolute;
//   background-color: rgba(72, 72, 140, 0);
//   top: 28px;
//   width: 78px;
//   right: -5px;
//   border: 0px;
//   padding: 10px;
//   cursor: pointer;
// }
// .confirm:hover {
//   font-weight: bolder;
// }
// .signUpForm div {
//   position: relative;
//   text-align: left;
//   margin-bottom: 15px;
// }
// .signUpButton {
//   font-family: "MonoplexKR-Regular";
//   position: relative;
//   font-size: 16px;
//   top: 15px;
//   width: 150px;
//   height: 50px;
//   cursor: pointer;
//   border: 0.5px solid gray;
//   border-radius: 5px;
// }
// .loginButton > a {
//   position: relative;
//   text-decoration: underline;
//   color: rgb(72, 72, 140);
//   // top: -10px;
// }
// .alert {
//   font-size: 12px;
//   color: red;
// }

// .input_name,
// .input_ID {
//   background-color: rgb(192, 192, 192);
// }

// .input_name,
// .input_ID,
// .input_nickname {
//   width: 300px;
// }
// .input_password,
// .input_password2,
// .input_Email {
//   width: 600px;
// }
// .My_picute {
//   float: right;
//   position: absolute;
//   top: -50%;
// }
// .confirm1 {
//   left: 38%;
// }
// .img_box {
//   width: 200px;
//   height: 200px;
//   border: solid 1px gray;
// }
