.MypageEditTitle {
  text-align: center;
  top: 150px;
  position: relative;
  font-size: 1.2rem;
}

.MypageEditBoxContainer {
  position: relative;
  top: 200px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 1rem;
}
.MypageEditBox {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.MypageEditBox > *div,
MypageEditBox > div > *div {
  position: relative;
  top: 10px;
}
.Usericon {
  font-size: 5rem;
}

.MypageEdit_usernamebox {
  position: relative;
  height: 50px;
}
.MypageEdit_usernamebox_subject {
  position: relative;
  font-size: 0.9rem;
}
.MypageEdit_usernamebox_username {
  position: relative;
  color: #999;
  border-bottom: 1px solid #f0f0f0;
}
