.MypageEditTitle {
  text-align: center;
  top: 130px;
  position: relative;
  font-size: 1.5rem;
}

.MypageEditBoxContainer {
  position: relative;
  top: 170px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.MypageEditBox {
  position: relative;
  width: 500px;
  height: 800px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}
.MypageEdit_Common_Style {
  width: 280px;
}
.MypageEdit_profilepicturebox {
  position: absolute;
  width: 200px;
  height: 180px;
  border: 1px solid black;
  top: -20px;
  right: 0;
  display: block;
  border-radius: 10%;
}
.MypageEdit_profilepicturebox > img {
  width: 200px;
  height: 180px;
  border-radius: 10%;
  object-fit: cover;
}
.MypageEgit_profilepicture_button {
  position: relative;
  width: 100%;
  top: 10px;
  ////////////////////////////////
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #34447a;
  padding: 12px 6px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.MypageEgit_profilepicture_button > span {
  position: relative;
  z-index: 1;
}
.MypageEgit_profilepicture_button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 550%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.MypageEgit_profilepicture_button:hover::after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.MypageEdit_profilepicture_content {
  display: none;
}

.MypageEdit_passwordbox {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  top: 60px;
}

.MyPageEdit_box_subject {
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}
.MyPageEdit_box_content {
  position: relative;
  color: #999;
  border-bottom: 1px solid #f0f0f0;
}

.input_common_properties {
  position: absolute;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
  size: 1rem;
}

.MypageEdit_cansel_button {
  border: 1px solid #bfbfbf;
}
.MypageEdit_confirm_button {
  background-color: #34447a;
  color: white;
  margin-left: 20px;
}
.MyPageEdit_button_common_properties {
  position: relative;
  top: 100px;
  padding: 20px 80px;
  border-radius: 50px;
  padding: 15px 80px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
}

.MypageEidit_deleteUser {
  position: relative;
  top: 110px;
  font-size: 0.7rem;
  color: red;
  padding: 1px;
  margin-left: 20px;
}

.MypageEdit_confirm_common_properties {
  display: inline-block;
  position: absolute;
  top: -10px;
  margin-left: 430px;
  font-size: 0.8rem;
}
