.mypageBody {
  background-color: white;
  font-family: "MonoplexKR-Regular";
  position: absolute;
  min-height: 1500px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.mypageBack {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.mypageEdit {
  position: relative;
  display: inline-block;
  padding: 50px;
  top: 250px;
  border: 3px solid #394f9a;
  border-radius: 12px;
  width: 600px;
  min-height: 600px;
}
.mypageLogo {
  position: absolute;
  background-color: #394f9a;
  border-radius: 12px 12px 0 0;
  text-align: left;
  width: 99.9%;
  left: 1px;
  top: 0px;
  height: 68px;
  font-size: 1.7rem;
  font-weight: bold;
}
.mypageLogo > p {
  display: inline-block;
  position: relative;
  left: 10px;
  top: -10px;
  color: white;
}
.editForm {
  position: relative;
  top: 45px;
  font-size: 18px;
  right: 10px;
  input {
    width: 600px;
    height: 35px;
    margin-top: 5px;
    margin-right: 20px;
  }
}
.editForm div {
  position: relative;
  text-align: left;
  margin-bottom: 15px;
}
.editButton {
  font-family: "MonoplexKR-Regular";
  position: relative;
  font-size: 16px;
  top: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 0.5px solid gray;
  border-radius: 5px;
}
.input_nickname,
.input_email {
  font-size: 18px;
  font-family: "MonoplexKR-Regular";
}
.gray_box {
  width: 600px;
  height: 39px;
  margin-top: 5px;
  margin-right: 20px;
  border: solid 1px black;
  background-color: #d3d3d3;
}
.deleteUser {
  position: relative;
  text-decoration: underline;
  left: 250px;
  top: 40px;
}
