.MyReview_con {
  min-width: 100%;
  position: absolute;
  font-family: "NanumSquareNeo-Variable";
  margin: 0;
  padding: 0;
  margin-top: 200px;
  overflow: hidden;
}
.MyReview_body {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100%;
}
.MyReview_search_con {
  position: relative;
  width: 1000px;
  height: 80px;
  margin: auto;
  background-color: #f9f7f9;
}
.MyReview_search_box {
  position: relative;
  top: 20%;
}
.input_seach {
  width: 600px;
  height: 36px;
  border: solid 1px #555;
  outline: none;
}
.button_search {
  position: relative;
  font-size: 1rem;
  width: 108px;
  background-color: #555;
  padding: 8.3px 0;
  color: white;
  border-bottom: 2.2px solid #555;
  top: 1.1px;
}
.MyReview_subject_list {
  font-size: 1rem;
  position: relative;
  height: 420px;
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #e7e7e7;
}
.MyReview_table_th-num,
.MyReview_table_th-date,
.MyReview_table_th_star_score,
.MyReview_table_th_views {
  width: 100px;
}
.MyReview_table_th_place {
  width: 200px;
}
.MyReview_table_th-title {
  width: 500px;
}
.MyReview_table th,
.MyReview_table td {
  height: 48px;
  border-bottom: solid 1px #e7e7e7;
}

// review_list
.review_place_name > p {
  cursor: pointer;
  font-size: 16px;
}
.review_place_name > p:hover {
  text-decoration: underline;
}

.not_found_review {
  border: 1px solid red;
}
.comment {
  font-weight: lighter;
}
