.on {
  color: rgba(239, 30, 30, 0.922);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
.off {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
.plugin {
  vertical-align: middle;
  position: relative;
  height: 30px;
  width: 30px;
  bottom: -1px;
  margin-left: 1870%;
}
