@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.background {
  width: 100%;
  height: 900px;
  //   background-color: #020b27;
  //   background-color: #051440;
  background-color: #131e41;
}
.home {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}
.home_logo {
  position: relative;
  font-family: "OTEnjoystoriesBA";
  font-size: 5rem;
  top: 35%;
  left: 40%;
  color: rgb(247, 250, 255);
  input:focus {
    outline: none;
  }
}
.home_logo > a {
  position: relative;
  left: 10px;
  top: -10px;
}
.home_logo > input {
  position: absolute;
  width: 450px;
  height: 80px;
  top: 90px;
  left: -130px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid gray;
}
.home_logo > input::placeholder {
  width: 430px;
  height: 50px;
  top: 15px;
  font-size: 17px;
}
.home_logo > img {
  position: absolute;
  width: 60px;
  left: -70px;
}
.home_btn {
  position: absolute;
  top: 200px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 0.1px solid rgba(172, 171, 171, 0.336);
  cursor: pointer;
}
