.home_body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 720px;
  min-width: 600px;
  margin: 0;
  overflow: hidden;
}
.home {
  position: relative;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
}
.home_logo {
  width: 450px;
}
.home_logo_span {
  font-size: 128px;
}
.HomeInput {
  position: relative;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  top: 24px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #ffb554;
  padding: 5px 5px;
}
.HomeInput:focus {
  outline: none;
}
.HomeSearchbt {
  position: relative;
  left: -20px;
  top: 16px;
  width: 28px;
  height: 28px;
  filter: invert(63%) sepia(82%) saturate(4163%) hue-rotate(0deg)
    brightness(102%) contrast(105%);
}
.main_image {
  margin-top: 60px;

  width: 800px;
}
