body {
  height: 100%;
}
.home_body {
  position: absolute;
  background-color: #131e41;
  height: 100%;
  width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.home {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  margin-top: 15%;
}
.home_logo {
  position: relative;
  font-family: "OTEnjoystoriesBA";
  font-size: 5rem;
  top: 35%;
  left: 40%;
  color: rgb(247, 250, 255);
  input:focus {
    outline: none;
  }
}
.home_logo > a {
  position: relative;
  left: 10px;
  top: -10px;
}
.HomeInput {
  position: absolute;
  width: 450px;
  height: 80px;
  top: 90px;
  left: -130px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid gray;
}
.HomeInput::placeholder {
  width: 430px;
  height: 50px;
  top: 15px;
  font-size: 17px;
}
.home_logo > img {
  position: absolute;
  width: 60px;
  left: -70px;
}
.home_btn {
  position: absolute;
  top: 200px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 0.1px solid rgba(172, 171, 171, 0.336);
  cursor: pointer;
}
.HomeSearchbt {
  display: none;
  width: 30px;
  height: 30px;
  z-index: 9;
}
