@font-face {
  font-family: "MonoplexKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.searchNull {
  text-align: center;
  width: 250px;
  font-size: 25px;
  color: grey;
  position: absolute;
  opacity: 0.5;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.main {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.mainList {
  position: absolute;
  display: inline-flex;
  margin-top: 110px;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.searchMenu {
  background-color: white;
  height: 100vh;
  width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.searchBtn {
  position: relative;
  height: 60px;
  border-bottom: 1px solid gray;
  input:focus {
    outline: none;
  }
}
.searchBtn_in {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 15px;
}
.searchInput {
  max-width: 190px;
  height: 100%;
  margin-left: 50px;
  border: 0px;
  font-size: 18px;
  margin-top: -3px;
}
.searchButton {
  position: absolute;
  background-image: url(../../Style/image/SearchIcon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: 50px;
  margin-top: 3px;
  border: 0px;
  cursor: pointer;
  opacity: 0.5;
}
.category {
  position: relative;
  font-family: "MonoplexKR-Regular";
  border: 0px;
  left: 30px;
  width: 90px;
  height: 30px;
  font-size: 18px;
}
.search_List {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 430px;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
}
.search_List_fixed {
  display: inline-block;
  height: calc(100% - 140px);
  top: 0;
  width: 430px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
}
.menulist {
  height: auto;
  overflow: hidden;
  // border-bottom: 1px solid gray;
}
.searchInfoList {
  display: block;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: auto;
  font-weight: bold;
  padding: 10px;
  color: rgb(42, 42, 114);
  border-bottom: 1px solid black;
  left: -5px;
}
.searchInfoName {
  position: relative;
  display: block;
  font-family: "MonoplexKR-Regular";
  height: 30px;
  left: 30px;
  font-size: 1.2rem;
  width: 350px;
  margin-top: 5px;
  word-break: keep-all;
  color: rgb(46, 46, 202);
}
.menulist img {
  position: relative;
  display: block;
  width: 340px;
  height: 200px;
  left: 30px;
}
.searchInfoCategory {
  display: block;
  position: relative;
  height: 30px;
  left: 30px;
  font-weight: 100;
  font-size: 12px;
  opacity: 0.7;
}
.menuSublist {
  display: block;
  position: relative;
  left: 30px;
  font-size: 0.9rem;
  width: 340px;
  word-break: keep-all;
  color: black;
  margin-top: -7px;
}
.searchInfoAddress {
  display: block;
  flex-direction: column;
  position: relative;
  height: 25px;
}
.searchPagination {
  margin: auto;
  bottom: 110px;
  width: 430px;
  height: 30px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  z-index: 99;
  color: black;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  border-top: 0.5px solid rgb(209, 209, 209);
  // background-color: white;
}
.rode_api {
  position: absolute;
  background-color: white;
  border-left: 1px solid gray;
  width: 100vw;
  height: 100vh;
  // margin-left: -460px;
  z-index: 0;
}
.ShowAndHide {
  position: absolute;
  left: 412px;
  top: 370px;
  width: 40px;
  height: 70px;
  background-color: rgb(252, 252, 252);
  z-index: 2;
  color: rgb(97, 97, 97);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
}
.ShowAndHideBt {
  font-size: 15px;
  margin-left: 18px;
  width: 13px;
  height: 20px;
  opacity: 0.5;
}
.show {
  width: 460px;
  height: auto;
  position: relative;
  left: 0px;
  transition: 1s;
}
.hide {
  width: 460px;
  height: 500px;
  position: relative;
  left: -430px;
  transition: 1s;
}
.categoryArticle {
  position: relative;
  width: 100px;
  height: 50px;
}
.CategoryList {
  display: none;
  position: absolute;
  width: 100%;
  top: 49px;
  left: 0;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
