body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.backbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  height: 110px;
  background-color: #ff7300d7;
  justify-content: space-between;
  z-index: 99999;
}
.menuBar {
  font-family: "NanumSquareNeo-Variable";
  position: absolute;
  display: flex;
  max-width: 100%;
  height: 100%;
  flex: 1 1 auto;
  margin: 0 auto;
}
.menuBar > div {
  display: inline-block;
}
.siteLogo {
  position: relative;
  width: 180px;
  height: 100%;
  text-align: center;
  left: 10px;
  cursor: pointer;
}
.menuList {
  position: absolute;
  display: flex;
  min-width: 1000px;
  left: 240px;
  top: 10px;
}
.menuList > div > div {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  left: 80px;
  top: 22px;
  padding: 0 5px;
}
.menuList > div:first-child {
  color: white;
  position: relative;
  padding-right: 30px;
  font-size: 17px;
  left: -15px;
}
.loginBtn {
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 4px;
}
.logoutBtn {
  color: white;
  cursor: pointer;
}
.menu1 > ul {
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 50px;
}
.menu_h3 {
  position: relative;
  top: 4px;
}
// 2차 메뉴 아이템
.menu1 > ul > ul > li {
  background-color: rgb(255, 255, 255);
  position: relative;
  transform: translateX(-50%);
  min-width: 180px;
  display: none;
  left: 50%;
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
  color: rgb(53, 53, 53);
  border: 1px solid rgba(203, 202, 202, 0.767);
  border-radius: 10px;
}
.menu1 > ul > ul > li:last-child {
  border-bottom: 1px solid gray;
}
.menu1 > ul > ul > li > a {
  padding: 12px 20px;
}
.menu1 > ul:hover ul li {
  display: block;
}
.menu1 > ul ul > li:hover {
  background-color: #ff9d4d;
}

// 2차 메뉴아이템 구현 완료
.TiThMenu {
  position: absolute;
  top: 25px;
  right: 45px;
}
.show_user {
  font-family: "NanumSquareNeo-Variable";
  justify-content: space-between;
  position: relative;
  text-align: center;
  height: 0px;
  margin-top: 216px;
  margin-left: 400px;
}
.username {
  min-width: 300px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.username_span {
  text-decoration: underline;
  margin-right: 4px;
  padding: 2px;
  cursor: pointer;
  text-underline-offset: 4px;
}
.username_span:hover {
  color: #000000;
}
.BiCurrentLocation {
  position: absolute;
  width: 28px;
  height: 28px;
  color: rgba(243, 243, 243, 0.8);
}
.now_location {
  position: relative;
  // text-align: center;
  margin-top: -210px;
  margin-left: 300px;
}
// .CenterAddr {
//   color: red;
//   z-index: 99;
// }
