.helpBackGround {
  font-family: "MonoplexKR-Regular";
  position: absolute;
  min-height: 1200px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.helpTemplate {
  position: relative;
  top: 120px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.helpTemplate > div {
  position: relative;
  border: 1px solid black;
  border-radius: 12px;
  display: inline-block;
  top: 150px;
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.findId:hover {
  background-color: rgba(130, 130, 148, 0.2);
  position: relative;
  top: 152px;
  box-shadow: 2px 2px 0 rgb(0, 0, 0, 0.5);
}

.findId:active {
  background-color: rgba(85, 85, 105, 0.2);
  top: 155px;
}

.findId > div {
  position: relative;
  display: block;
  height: 100%;
}
.idImg {
  position: relative;
  scale: 0.3;
  right: 100px;
  margin-bottom: -150px;
  bottom: 135px;
}
p {
  position: inherit;
  bottom: 165px;
  font-size: 20px;
}
.lockImg {
  scale: 0.32;
}
