.login_body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: modal-show 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
}
.loginTemplate {
  position: relative;
  display: inline-block;
  padding: 50px;
  top: 250px;
  border: 3px solid #394f9a;
  border-radius: 12px;
  width: 600px;
  height: 280px;
  background-color: white;
  cursor: default;
}
@keyframes modal-show {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
