.signUpBody {
  background-color: white;
  font-family: "MonoplexKR-Regular";
  position: absolute;
  min-height: 1500px;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}
.signUpBack {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.signUptemplate {
  position: relative;
  display: inline-block;
  padding: 50px;
  top: 250px;
  border: 1.5px solid gray;
  border-radius: 12px;
  width: 600px;
  height: 600px;
}
.signUpLogo {
  position: absolute;
  text-align: left;
  width: 100%;
  left: 10px;
  top: 10px;
  font-size: 1.7rem;
}
.signUpLogo > hr {
  position: relative;
  left: -10px;
  top: 3px;
}
.signUpForm {
  position: relative;
  top: 45px;
  font-size: 18px;
  right: 10px;
  input {
    // margin-left: 10px;
    width: 100%;
    height: 35px;
    margin-top: 5px;
  }
}
.signUpForm div {
  position: relative;
  text-align: left;
  margin-bottom: 15px;
}
.signUpButton {
  font-family: "MonoplexKR-Regular";
  position: relative;
  font-size: 16px;
  top: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 0.5px solid gray;
  border-radius: 5px;
}
.loginButton > a {
  text-decoration: underline;
  color: rgb(72, 72, 140);
}
