.starcreatedate {
  display: inline-flex;
  width: 100%;
}
.createDate {
  text-align: right;
  display: inline-block;
  margin-left: 30%;
  margin-top: 8px;
}

// 수정 삭제 버튼
.textbut {
  font-family: "NanumSquareNeo-Variable";
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  display: inline-flex;
  position: relative;
  top: 5px;
  left: 35px;
  border-radius: 10%;
  margin-left: 10px;
}
.textbut:hover {
  transition: transform 400ms ease;
  transform: scale(1.1);
}
.textbut::after {
  transform: translateY(1.1);
}
.textbut {
  border: none;
  background: rgb(74, 77, 63, 0.3);
  background: linear-gradient(
    0deg,
    rgba(74, 77, 63, 0.3) 0%,
    rgba(74, 77, 63, 0.3) 100%
  );
  color: #fff;
  overflow: hidden;
}
.textbut:hover {
  text-decoration: none;
  color: #fff;
}
.textbut:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.textbut:hover {
  opacity: 0.7;
}
.textbut:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.userdiv {
  border-top: rgba(74, 77, 63, 0.3) 1.5px solid;
  margin-bottom: 10px;
  width: 1010px;
  border-radius: 10px;
}
.detail_comment {
  margin-bottom: 200px;
  margin-top: -40px;
}
.detail_comment p {
  display: inline-block;
  position: relative;
  color: rgb(46, 46, 110);
  left: 20px;
  bottom: 320px;
  font-size: 22px;
}

.userimg {
  display: inline-block;
  height: 150px;
  width: 200px;
  position: relative;
}
.사용자 > textarea {
  position: relative;
  margin-left: 30px;
}
.사용자 > .usercon {
  display: inline-block;
}
.사용자 > .contant {
  display: inline-block;
}
.usercon {
  width: 200px;
  max-height: 200px;
  border-radius: 15px;
  border: 2px solid rgb(233, 233, 233);
  overflow: hidden;
}
.usercon > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.usercon > img {
  object-fit: cover;
}

.사용자 {
  display: inline-flex;
  width: 100%;
  height: auto;
}
textarea {
  width: 740px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}
.editcontent {
  background-color: rgb(212, 237, 205);
}
hr {
  margin: 200px 0;
}
.contant {
  position: relative;
  width: 740px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  display: block;
  padding: 10px;
  min-height: 174px;
  margin-left: 30px;
}
.사용자 {
  margin: 10px;
  position: relative;
}
.userimg {
  display: block;
  width: 200px;
  height: 150px;
}
.userimg > img {
  object-fit: contain;
  width: 200px;
  height: 150px;
}
.review_nick2 {
  padding: 3px 0;
  cursor: pointer;
}
.review_nick2:hover {
  text-decoration: underline;
}
.nameContextMenu {
  background: #000;
  color: #fff;
  padding: 0;
  z-index: 9999;
  padding: 6px 0;
  position: absolute;
  left: 130px;
  bottom: 00px;
  display: block;
  overflow: visible;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.nameContextMenu td {
  padding: 0 !important;
  border: 0 !important;
}
.nameContextMenu a {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  display: block;
  padding: 0 8px;
}
.nameContextMenu a:hover {
  color: red;
}
