.detail_back {
  font-family: "NanumSquareNeo-Variable";
}
.rod {
  position: relative;
  margin-top: 30px;
}
.wrap {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  position: relative;
}
.wrap .left {
  width: 600px;
}
.wrap .left > img {
  vertical-align: top;
  width: 1000px;
  height: 700px;
  margin-top: 110px;
}
.wrap .left ul {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.wrap .left ul li {
  width: 200px;
}
.wrap .left ul li img {
  width: 200px;
  vertical-align: top;
  height: 130px;
}
.wrap .right {
  width: 400px;
  background: beige;
  padding: 30px;
}
.wrap .right h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.wrap .right p {
  font-size: 20px;
}
.wrap .desc {
  position: absolute;
  display: inline-block;
}
.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  text-align: center;
  border-radius: 5%;
  width: 1000px;
  height: auto;
  background-color: white;
  display: block;
  margin: 100px auto;
}
.confont {
  position: relative;
  height: 50px;
}
.confont div {
  display: inline-block;
  position: relative;
  top: 5px;
}
.cafe {
  font-size: 30px;
  font-weight: bold;
}
.Foods {
  font-size: 18px;
  margin-left: 15px;
}

.NavGroup {
  position: fixed;
  margin: 20px;
  display: block;
  margin-top: -600px;
  margin-left: 90%;
  z-index: 50;
}
.NavGroup > button {
  display: block;
  margin: 20px 0px;
  font-family: OTEnjoystoriesBA;
  font-size: 2rem;
  min-width: 100px;
}
.NavGroup > button:hover {
  transition: transform 300ms ease;
  transform: scale(1.3);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  background-color: black;
}
.group {
  /* width: auto; */
  /* height: 100px; */
  display: inline-block;
  font-size: 1.3rem;
}
.left {
  text-align: right;
  margin-right: 2%;
}
.right {
  text-align: left;
  margin-top: -30px;
}
.group > div {
  margin-bottom: 20px;
  margin-right: 10px;
}

.rode_api1 {
  position: relative;
  left: 25px;
  width: 950px;
  height: 450px;
}
.maptext {
  font-size: 30px;
  text-align: center;
  height: 50px;
  margin-bottom: 0;
  background-color: transparent;
}
.likeImg {
  background-image: url(/public/images/like2.png);
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 10px;
  background-size: cover;
}

.EmptylinkeImg {
  background-image: url(/public/images/like1.png);
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 10px;
  background-size: cover;
}
.EmptyHeartImg {
  background-image: url(/public/images/heart.png);
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 10px;
  background-size: cover;
  filter: invert(38%) sepia(34%) saturate(1612%) hue-rotate(323deg)
    brightness(96%) contrast(106%);
}
.HeartImg {
  background-image: url(/public/images/heart1.png);
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 10px;
  background-size: cover;
  filter: invert(38%) sepia(34%) saturate(1612%) hue-rotate(323deg)
    brightness(96%) contrast(106%);
}
.iconbut:hover {
  cursor: pointer;
  transition: transform 300ms ease;
  transform: scale(1.1);
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/**/
@keyframes ball {
  0% {
    width: 50px;
    height: 50px;
  }
  95% {
    width: 60px;
    height: 60px;
  }
  to {
    width: 60px;
    height: 60px;
  }
}
.liketext > div {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-family: "MonoplexKR-Regular";
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 10px;
}
.userimg {
  display: inline-block;
  height: 150px;
  width: 200px;
  position: relative;
}
.사용자 > textarea {
  position: relative;
  margin-left: 30px;
}
.사용자 > .usercon {
  display: inline-block;
}
.사용자 > .contant {
  display: inline-block;
}
.usercon {
  width: auto;
  max-height: 200px;
  border-radius: 15px;
  border: 2px solid rgb(233, 233, 233);
  overflow: hidden;
}
.usercon > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.usercon > img {
  object-fit: cover;
}

.사용자 {
  display: inline-flex;
  width: 100%;
  height: auto;
}
textarea {
  width: 740px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}
.editcontent {
  background-color: rgb(212, 237, 205);
}
hr {
  margin: 200px 0;
}
.contant {
  position: relative;
  width: 740px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  display: block;
  padding: 10px;
  min-height: 174px;
  margin-left: 30px;
}
.사용자 {
  margin: 10px;
}
.left > img {
  object-fit: contain;
}
li > img:hover {
  transition: transform 300ms ease;
  transform: scale(1.1);
}
.replyContent {
  position: absolute;
  width: 1000px;
}
.rode_api1 {
  margin-bottom: 12vh;
}
.magin-side {
  width: 1000px;
}
