.detail_back {
  font-family: "NanumSquareNeo-Variable";
}
.rod {
  position: relative;
  margin-top: 30px;
}
.wrap {
  width: 700px;
  margin: 0px auto;
  display: flex;
  position: relative;
  margin-top: 45px;
}

.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  text-align: center;
  border-radius: 5%;
  width: 700px;
  height: auto;
  background-color: white;
  display: block;
  margin: 200px auto 200px auto;
}
.confont {
  position: relative;
  height: 50px;
}
.confont div {
  display: inline-block;
  position: relative;
  top: 5px;
}
.cafe {
  font-size: 30px;
  font-weight: bold;
}
.Foods {
  font-size: 18px;
  margin-left: 15px;
  color: gray;
}

.NavGroup {
  position: fixed;
  margin: 20px;
  display: block;
  margin-top: -300px;
  margin-left: 90%;
  z-index: 50;
}
.NavGroup > button {
  display: block;
  margin: 20px 0px;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "NanumSquareNeo-Variable";
  font-size: 1.5rem;
  letter-spacing: -1.2px;
  min-width: 100px;
}
.NavGroup > button:hover {
  transition: transform 300ms ease;
  transform: scale(1.3);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  background-color: black;
}
.group {
  display: inline-block;
  font-size: 1.3rem;
}
.left {
  text-align: right;
  margin-right: 2%;
}
.right {
  text-align: left;
  margin-top: -30px;
}
.group > div {
  margin-bottom: 20px;
  margin-right: 10px;
}

.rode_api1 {
  position: relative;
  width: 700px;
  height: 450px;
}
.maptext {
  font-size: 30px;
  text-align: center;
  height: 50px;
  margin-bottom: 0;
  background-color: transparent;
}

/**/
@keyframes ball {
  0% {
    width: 50px;
    height: 50px;
  }
  95% {
    width: 60px;
    height: 60px;
  }
  to {
    width: 60px;
    height: 60px;
  }
}

.left > img {
  object-fit: contain;
}
li > img:hover {
  transition: transform 300ms ease;
  transform: scale(1.1);
}
.replyContent {
  position: absolute;
  width: 1000px;
}
.rode_api1 {
  margin-bottom: 12vh;
}
.magin-side {
  width: 700px;
}
/*modal*/

.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  padding: 0;
}
.modal {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: auto;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.zin {
  position: relative;
  z-index: 100001;
}
.Viewmore {
  background-color: black;
}
.Viewmore > span {
  display: block;
  font-family: Arial, sans-serif;
  margin-top: -80px;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
}
.Viewmore:hover > span {
  transition: transform 500ms ease;
  transform: scale(1.1);
  display: block;
  font-family: Arial, sans-serif;
  margin-top: -80px;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0;
}
.modalbox {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-height: 700px;
}

.modalbox > img {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  top: 0;
  z-index: 90000;
}

textarea {
  resize: none;
}
.noimg {
  position: relative;
  margin-bottom: -80px;
  width: 700px;
  height: 600px;
  top: 100px;
}
.noimg > img {
  display: block;
  width: 700px;
  height: 500px;
  margin: auto;
}
